
* {margin:1px;
    box-sizing: border-box;
    text-decoration: none;
   
}

body {direction:ltr;
        text-align: left;
        background-color: rgba(241, 142, 142, 0.4);
        
       }

h1
{
    font-family:Tahoma;
    font-size: 48px;
    margin: 5px;
    text-align: center;
    background-color: rgba(241, 142, 142, 0.3);;
}

h2{color:blue;}

h2, b {font-family: 'Indie Flower', cursive;
    font-size: 2em;
     margin: 10px;
     text-shadow: 1px 2px #ff0000;
     font-weight: bold;
    }

p  {  
        margin: 10px;}


.student-owner {

    background-color: rgba(241, 142, 142, 0.3);
    

}


.student-contributor{
 /*Your stuff here*/   
 margin: 10px;
}
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
* {
    box-sizing: border-box;
}

header {
    background-color: lightblue;
    text-align: center;
    font-family: 'Rye', cursive;
}

header h1 {
    padding: 15px 0px;
    margin: 0px;
}

.row {
    height: 650px;
}

h2 {
    background-color: #ABC
}

nav {
    width: 25%;
    float: left;
}

article {
    float: left;
    width: 37.5%;
    padding: 0px 5px;
    height: 100%;
    overflow: scroll;
    background-color: #EEE;
}

article>div {
    height: 50%;
}

.col {
    float: left;
    height: 100%;
    width: 50%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    text-align: center;
    background-color: rgb(144, 216, 238);
    margin: 10px 0px;
}

nav ul a {
    display: block;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 5px 0px;
}

nav ul a:hover {
    background-color: #4fe34f;
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.dropdown-content a {
    display: block;
    background-color: #B2D8B7;
    padding: 5px 10px;
    margin: 10px 0px;
    box-shadow: 5px 5px 5px rgba(150, 150, 150, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #91C899;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

article img {
    width: 75%;
    float: left;
    margin-right: 5px;
}

footer {
    background-color: rgb(213, 221, 230);
    padding: 10px 0px;
    text-align: left;
}